<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @transfer.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @transfer.show %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
